{% extends "base.html" %}
{% block body %}

class DatabaseStatus extends Component {
  state = { database_status: "database status unknown" };

  // Called whenever our component is created
  async componentDidMount() {
    const database_status_fetch = await fetch('/database_status');
    const status_text = await database_status_fetch.text();
    // update status every second
    this.timer = setInterval(() => {
      this.setState({database_status: status_text });
    }, 1000);
  }

  // Called just before our component will be destroyed
  componentWillUnmount() {
    // stop when not renderable
    clearInterval(this.timer);
  }

  render() {
    return html`<span>${this.state.database_status}</span>`;
  }
}

class App extends Component {
  addTodo() {
    const { todos = [] } = this.state;
    this.setState({ todos: todos.concat(`Item ${todos.length}`) });
  }
  render({ page }, { todos = [] }) {
    return html`
      <div class="app">
        <${DatabaseStatus} />
        <${Header} name="ToDo's (${page})" />
        <ul>
          ${todos.map(todo => html`
            <li key="${todo}">${todo}</li>
          `)}
        </ul>
        <button onClick=${() => this.addTodo()}>Add Todo</button>
        <${Footer}>footer content here<//>
      </div>
    `;
  }
}

const Header = ({ name }) => html`<h1>${name} List</h1>`

const Footer = props => html`<footer ...${props} />`

{% endblock %}